<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='imguploader_style.css') }}">
</head>
<body>
    <h1 class="title">Upload image by Ehsan chowdhury</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" accept="image/*" required>
        <button type="submit" class="btnupload">Upload</button>
    </form>

    <p id="message"></p>

    <h2 class="subtitle">Gallery</h2>
    <div class="gallery" id="gallery">
        {% for image in images %}
            <div class="card" id="image-{{ image.id }}">
                <img src="/static/uploads/{{ image.filename }}">
                <button onclick="deleteImage({{ image.id }})" class="btndelete">Delete</button>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='imguploader_script.js') }}"></script>
</body>
</html>