<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="title">ehsan chowdhury</h1>
    <h2 class="subtitle">Welcome to flask!{{ username }}</h2>
    <figure>
        <img src="{{ url_for('static', filename='sky.jpg') }}" alt="image of the sky">
    </figure>
    <h2 class="subtitle">lists</h2>
    {% for i in listfruits %}
    <p>{{i}}</p>
    {% endfor %}

<h3>Check if {{f}} is in the list</h3>
{% if f in listfruits %}
    <p> class="instock">Yes, we have {{f}} in stock today</p>
{% else %}
    <p class="outofstock">Sorry, we are out of {{f}} today</p>
{% endif %}

</body>
</html>